* {
    font-family: Helvetica;
    background-color: black; 
    font-size: 22px;
    color: seashell;
  }

  li {
    text-decoration: underline;
    list-style-type: none;
    text-align: right;
  }

  header {
    height: 69px;
    width: auto;
    display: inline-block;
    border-bottom: 1px solid seashell;
  }

  #logo {
    height: 50px;
  }

  main {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 700px;
    width: 1200px;
  }

 .main-text {
  position: absolute;
  z-index: 1;
  background-color: black;
 }
